.title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgb(255, 236, 62);
    text-shadow: 3px 3px rgb(41, 45, 255), -3px -3px rgb(41, 45, 255);
}

.inputContainer {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 4px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.label {
    color: var(--text-obscure);
    transition: color 0.5s ease-in-out;
}

.pokemonTitle {
    composes: title;
    margin: 0 4px;
    font-size: 1.25rem !important;
    text-shadow: 1.75px 1.75px rgb(41, 45, 255), -1.75px -1.75px rgb(41, 45, 255);
}

.inputWrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.searchInput {
    flex: 1;
}

.searchInput:first-child {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .inputContainer {
        width: 60%;
        margin: 2rem auto;
    }
    .inputWrapper {
        flex-direction: row;
    }
    .searchInput:first-child {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 3rem;
    }
    .inputContainer {
        width: 50%;
    }
}