.card {
    height: 10rem;
    transition: background-color 0.25s ease-in-out;
}

@media (min-width: 768px) {
    .card {
        border-radius: 10px;
        height: 12rem;
    }
    .card:last-child {
        margin-bottom: 2rem;
    }
}