.profileContainer {
    position: relative;
    min-width: 150px;
}

.loader {
    composes: center from global;
}

.noData {
    color: var(--text-obscure);
    composes: center from global;
}

.profilePic {
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}