.radioGroupWrapper {
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.radioGroup {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

@media (min-width: 768px) {
    .radioGroupWrapper {
        flex-direction: row;
        align-items: center;
    }
    .header {
        font-size: 1.1rem;
        margin-right: 1rem;
    }
    .radioGroup {
        margin-left: 0;
    }
}