.cardContainer {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.cardImage {
    display: block;
    height: 300px;
    width: 400px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.cardContent {
    padding: 24px;
}

.cardTitle {
    font-size: 1.5rem;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
    color: var(--text);
    transition: color 0.5s ease-in-out;
}

.cardLink {
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: var(--text-obscure);
    transition: color 0.5s ease-in-out;
}