.page {
    min-width: inherit;
    min-height: inherit;
    width: 100%;
    height: 100%;
    overflow: inherit;
    position: relative;
    background-color: var(--page-bg);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}