.cell {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--tag-color);
    background-color: var(--card-bg);
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
}