.cell {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid var(--tag-color);
    background-color: var(--card-bg);
    box-shadow: 0 0 2px var(--tag-color);
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.cell:hover {
    transition: background-color 0s, box-shadow 0s;
}