.calculatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}

.calculatorWrapper {
    width: 90%;
}

@media (min-width: 768px) {
    .calculatorWrapper {
        width: 40%;
    }
}

@media (min-width: 900px) {
    .calculatorWrapper {
        width: 25%;
    }
}