.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(min-width: 900px) {
    .cardsContainer {
        flex-direction: row;
    }
}