.noData {
    color: var(--text-obscure);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reposGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
    .reposGrid {
        grid-template-columns: 1fr 1fr;
    }
}