.quoteCard {
    cursor: pointer;
    padding: 1rem;
}

.quoteCard:hover {
    border-radius: 6px;
    transform: scale(1.01);
    filter: contrast(95%);
}

.quoteWrapper {
    display: flex;
}

.author {
    margin-top: 4px;
    font-size: 0.9rem;
    color: var(--text-obscurer);
    transition: color 0.5s ease-in-out;
}

.quote {
    flex: 1;
    margin-right: 4px;
}