.carouselWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: inherit;
}

.carouselContainer {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 60vh;
    border: 1px solid #fff;
}

.slide {
    transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .carouselContainer {
        width: 80%;
        border-radius: 6px;
    }
} 