.todosHeader {
    font-size: 2rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-align: center;
    color: var(--text-light);
    text-shadow: 6px 4px rgba(0, 0, 0, 0.2);
}

.todosContainer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    width: 85%;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 24px;
}

.addTodoWrapper {
    display: flex;
    align-items: center;
}

.desktopBtn {
    display: none !important;
}

.mobileBtn {
    margin-left: 8px !important;
    display: block !important;
}

@media (min-width: 900px) {
    .todosHeader {
        font-size: 3rem;
    }

    .todosContainer {
        max-width: 800px;
    }

    .desktopBtn {
        display: block !important;
        margin-left: 8px !important;
        min-width: 150px !important;
        padding: 16px 0 !important;
    }

    .mobileBtn {
        margin-left: 0 !important;
        display: none !important;
    }
}